.color_0 {
	color: #FFFFFF;
}
.color_1 {
	color: #FFFFFF;
}
.color_2 {
	color: #000000;
}
.color_3 {
	color: #ED1C24;
}
.color_4 {
	color: #0088CB;
}
.color_5 {
	color: #FFCB05;
}
.color_6 {
	color: #727272;
}
.color_7 {
	color: #B0B0B0;
}
.color_8 {
	color: #FFFFFF;
}
.color_9 {
	color: #727272;
}
.color_10 {
	color: #B0B0B0;
}
.color_11 {
	color: #FFFFFF;
}
.color_12 {
	color: #999999;
}
.color_13 {
	color: #666666;
}
.color_14 {
	color: #333333;
}
.color_15 {
	color: #000000;
}
.color_16 {
	color: #FEC4C7;
}
.color_17 {
	color: #FEA6AA;
}
.color_18 {
	color: #D62F37;
}
.color_19 {
	color: #A9353A;
}
.color_20 {
	color: #541A1D;
}
.color_21 {
	color: #C0D3FF;
}
.color_22 {
	color: #A1BDFF;
}
.color_23 {
	color: #437BFF;
}
.color_24 {
	color: #2D52AA;
}
.color_25 {
	color: #162955;
}
.color_26 {
	color: #A2EDEA;
}
.color_27 {
	color: #73DCD7;
}
.color_28 {
	color: #09CAC1;
}
.color_29 {
	color: #068781;
}
.color_30 {
	color: #034340;
}
.color_31 {
	color: #BFBFE5;
}
.color_32 {
	color: #9999CA;
}
.color_33 {
	color: #5A5AB0;
}
.color_34 {
	color: #3C3C75;
}
.color_35 {
	color: #1E1E3B;
}
.backcolor_0 {
	background-color: #FFFFFF;
}
.backcolor_1 {
	background-color: #FFFFFF;
}
.backcolor_2 {
	background-color: #000000;
}
.backcolor_3 {
	background-color: #ED1C24;
}
.backcolor_4 {
	background-color: #0088CB;
}
.backcolor_5 {
	background-color: #FFCB05;
}
.backcolor_6 {
	background-color: #727272;
}
.backcolor_7 {
	background-color: #B0B0B0;
}
.backcolor_8 {
	background-color: #FFFFFF;
}
.backcolor_9 {
	background-color: #727272;
}
.backcolor_10 {
	background-color: #B0B0B0;
}
.backcolor_11 {
	background-color: #FFFFFF;
}
.backcolor_12 {
	background-color: #999999;
}
.backcolor_13 {
	background-color: #666666;
}
.backcolor_14 {
	background-color: #333333;
}
.backcolor_15 {
	background-color: #000000;
}
.backcolor_16 {
	background-color: #FEC4C7;
}
.backcolor_17 {
	background-color: #FEA6AA;
}
.backcolor_18 {
	background-color: #D62F37;
}
.backcolor_19 {
	background-color: #A9353A;
}
.backcolor_20 {
	background-color: #541A1D;
}
.backcolor_21 {
	background-color: #C0D3FF;
}
.backcolor_22 {
	background-color: #A1BDFF;
}
.backcolor_23 {
	background-color: #437BFF;
}
.backcolor_24 {
	background-color: #2D52AA;
}
.backcolor_25 {
	background-color: #162955;
}
.backcolor_26 {
	background-color: #A2EDEA;
}
.backcolor_27 {
	background-color: #73DCD7;
}
.backcolor_28 {
	background-color: #09CAC1;
}
.backcolor_29 {
	background-color: #068781;
}
.backcolor_30 {
	background-color: #034340;
}
.backcolor_31 {
	background-color: #BFBFE5;
}
.backcolor_32 {
	background-color: #9999CA;
}
.backcolor_33 {
	background-color: #5A5AB0;
}
.backcolor_34 {
	background-color: #3C3C75;
}
.backcolor_35 {
	background-color: #1E1E3B;
}