@font-face {
    font-family: 'CMUTypewriterTextRoman';
    src: url('fonts/cmuntt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font_1 {
    font: normal normal bold 87px/1.4em 'times new roman', times, serif;
    color: #000000;
} 
.font_2 {
    font: italic normal normal 60px/1.4em 'times new roman', times, serif;
    color: #000000;
}
.font_3 {
    font: normal normal normal 30px/1.4em 'times new roman', times, serif;
    color: #000000;
}
.font_4 {
    font: normal normal normal 16px/1.4em 'times new roman', times, serif;
    color: #970000;
}
.font_5 {
    font: normal normal normal 18px/1.4em 'times new roman', times, serif;
    color: #000000;
}
.font_6 {
    font: normal normal normal 16px/1.4em 'times new roman', times, serif;
    color: #000000;
}
.font_7 {
    font: italic normal normal 14px/1.4em 'times new roman', times, serif;
    color: #000000;
}
.font_8 {
    font: normal normal normal 13px/1.4em 'CMUTypewriterTextRoman';
    color: #666666;
}
.font_9 {
    font: normal normal normal 16px/1.4em 'CMUTypewriterTextRoman';
    color: #000000;
    line-height: 0px;
}
.font_10 {
    font: normal normal normal 16px/1.4em 'CMUTypewriterTextRoman';
    color: #970000;
}