@charset 'UTF-8';

@font-face {
    font-family: 'CMUSerifRoman';
    src: url('fonts/cmunrm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CMUSerifOblique';
    src: url('fonts/cmunti.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CMUSerifBold';
    src: url('fonts/cmunbx.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CMUTypewriterTextRoman';
    src: url('fonts/cmuntt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CMUTypewriterTextVariable';
    src: url('fonts/cmunvt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}