a, b, body, button, code, div, em, footer,
h1, h2, h3, h4, header, html, i, img, label,
li, nav, object, ol, p, section, span, sub,
sup, table, td, th, title, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
}
a {
    cursor: pointer;
    text-decoration: none;
}


.icon {
    color: #555555;
}
.icon .fa-github-square:hover  {
    color: black;
}
.icon .fa-google-plus-square:hover  {
    color: black;
}
.icon .fa-linkedin-square:hover  {
    color: black;
}


body {
    font-size: 10px;
    overflow-x: auto;
    overflow-y: scroll;
}
body #site-root {
    overflow-x: hidden;
    overflow-y: hidden;
}
body, html {
    height: 100%;
}
ol, ul {
    list-style: none;
}
sup {
    font-size: 66%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.site-root {
    min-height: 100%;
    position: relative;
    margin: 0 auto;
}
.email {
    color: inherit;
}
.email:hover {
    color: black;
}
.text {
    word-wrap: break-word;
    text-align: start;
}
.text li {
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: normal;
}
.text ol,
.text ul {
    padding-left: 1.3em;
    padding-right: 0;
    margin-left: 0.5em;
    margin-right: 0;
    line-height: normal;
    letter-spacing: normal;
}
.text ul {
    list-style-type: disc;
}
.text ol {
    list-style-type: decimal;
}
.text ul ul,
.text ol ul {
    list-style-type: circle;
}
.text ul ul ul,
.text ol ul ul {
    list-style-type: square;
}
.text ul ol ul,
.text ol ol ul {
    list-style-type: square;
}
.text p {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}
.text h1 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}
.text h2 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}
.text h3 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}
.text h4 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}
.text a {
    color: inherit;
}
.tg {
    border-collapse: collapse;
    border-spacing: 0;
}
.tg td {
    font-size: 16px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
    border: 0;
}
.tg th {
    font-size: 16px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
    border: 0;
}
.tg .tg-cell1 {
    font-family: 'CMUSerifRoman', times, serif;
    font-size: 16px/1.4em;
    text-align: left;
    vertical-align: middle;
    padding-top: 6px;
    width: 160px;
}
.tg .tg-cell2 {
    font-family: 'CMUTypewriterTextRoman', times, serif;
    font-size: 16px/1.4em;
    text-align: left;
    vertical-align: middle;
    padding-top: 6px;
    width: 160px;
}
.sect-prep-border {
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0;
}
.sect-prep-border,
.sect-prep-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.sect-page[data-state~="fixed-position"] {
    position: fixed !important;
    left: auto !important;
    z-index: 50;
}
.sect-page-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.sect-padding {
    visibility: hidden;
    pointer-events: none !important;
}
.separator {
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    height: 0;
    padding-top: 2px;
}
.style-a[data-state~="mobile-view"] {
    left: 10px;
    right: 10px;
}
.style-a[data-state~="fixed-position"] {
    position: fixed !important;
    left: auto !important;
    z-index: 50;
}
.style-a-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.style-b[data-state~="items-align-left"] .style-b-item {
    text-align: left;
}
.style-b[data-state~="subitems-align-left"] .style-b-submenu > .style-b-item {
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
}
.style-b[data-state~="submenu-open-right"] .style-b-submenu {
    left: 100%;
    float: left;
    margin-left: 0px;
}
.style-b > ul {
    display: table;
    width: 100%;
    box-sizing: border-box;
}
.style-b li {
    display: table;
    width: 100%;
    width: calc(100% - (2 * 0px));
}
.style-b a span {
    pointer-events: none;
}
.style-b-menu {
    padding: 0;
    margin: 10px 0px 0px 0px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.style-b-menu .style-b-empty-submenu {
    display: none !important;
}
.style-b-submenu {
    z-index: 999;
    min-width: 100%;
    opacity: 0;
    display: none;
    position: absolute;
    transition: all 0.4s ease 0s;
    background-color: rgba(255, 255, 255, 1);
}
.style-b-item {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    position: relative;
    display: block;
    cursor: pointer;
    list-style: none;
}
.style-b-item: last-child {
    border-bottom: 0;
}
.style-b-label {
    font: italic normal normal 18px/1.4em 'CMUSerifExtraRomanSlanted', times, serif;
    color: #000000;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
.style-b-label:hover {
    color: #185096;
    text-decoration: underline;
    text-underline-offset: 2px;
}
.style-b-label-active {
    font: normal normal normal 18px/1.4em 'CMUSerifRoman', times, serif;
    color: #000000;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
.style-b-label-static {
    font: normal normal normal 18px/1.4em 'CMUSerifRoman', times, serif;
    color: #000000;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
}
.style-c[data-state~="mobile-view"] {
    left: 10px;
    right: 10px;
}
.style-c-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.style-d[data-state~="mobile-view"] {
    left: 10px;
    right: 10px;
}
.style-d[data-state~="fixed-position"] {
    position: fixed !important;
    left: auto !important;
    z-index: 50;
}
.style-d[data-state~="fixed-position"].style-d-footer {
    top: auto;
    bottom: 0;
}
.style-d-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.docs {
    color: #666666;
}
.docs:hover {
    color: #185096;
}
.sub-zg {
    margin: 0px 2px 2px 2px;
}
#site-header-content {
    height: 28px;
    width: 100%;
    position: relative;
}
#site-footer-content {
    height: auto;
    width: 100%;
    position: relative;
}
#site-footer-content-container {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 100%;
}
#page-main.mesh-layout #page-container,
#page-main.mesh-layout #site-footer,
#page-main.mesh-layout #site-header {
    position: relative;
}
#page-main.mesh-layout[data-mesh-layout=grid] {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: max-content max-content min-content max-content;
    grid-template-rows: -webkit-max-content -webkit-max-content -webkit-min-content -webkit-max-content;
    grid-template-rows: max-content max-content min-content max-content;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -webkit-box-align: start;
    -webkit-align-items: start;
    align-items: start;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
}
#page-main.mesh-layout[data-mesh-layout=grid] #page-container,
#page-main.mesh-layout[data-mesh-layout=grid] #site-header,
#page-main.mesh-layout[data-mesh-layout=grid] #site-footer {
    -ms-grid-column: 1;
    -ms-grid-row-align: start;
    -ms-grid-column-align: start;
}
#page-main.mesh-layout[data-mesh-layout=grid] #site-header {
    -ms-grid-row: 1;
    grid-area: 1/1/2/2;
}

#page-main.mesh-layout[data-mesh-layout=grid] #page-container {
    -ms-grid-row: 3;
    grid-area: 3/1/4/2;
}
#page-main.mesh-layout[data-mesh-layout=grid] #page-container {
    -webkit-align-self: stretch;
    align-self: stretch;
}
#page-main.mesh-layout[data-mesh-layout=grid] main#page-container {
    display: block;
}
#page-main.mesh-layout[data-mesh-layout=grid] #page-container-content {
    height: 100%;
}
#page-main.mesh-layout[data-mesh-layout=grid] #site-footer {
    -ms-grid-row: 4;
    grid-area: 4/1/5/2;
}
#subpage-content {
    height: auto;
    width: 100%;
    position: relative;
}
#subpage-content-container {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 2971px;
    grid-template-rows: min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content 1fr;
    grid-template-columns: 100%;
    padding-bottom: 0px;
    box-sizing: border-box;
}
#subpage-content-container-port {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 800px;
    grid-template-rows: min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content
                        min-content min-content min-content min-content 1fr;
    grid-template-columns: 100%;
    padding-bottom: 0px;
    box-sizing: border-box;
}
#subpre-page {
    justify-self: start;
    align-self: start;
    position: absolute;
    grid-area: 2 / 1 / 3 / 2;
    pointer-events: auto;
}
#subpre-page-content {
    height: auto;
    width: 565px;
    position: relative;
}
#subpre-page-content-container {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 2203px;
    grid-template-rows: min-content min-content min-content 1fr;
    grid-template-columns: 100%;
}
#comp-anim {
    justify-self: start;
    margin-left: 40px;
    align-self: end;
    margin-bottom: 20px;
    position: absolute;
    grid-area: 2 / 1 / 3 / 2;
    pointer-events: auto;
}
#comp-name {
    position: relative;
    margin: 80px 0px -5px 0;
    left: 54px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}
#comp-desc {
    position: relative;
    margin: 10px 0px 30px 0;
    left: 54px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
}
#comp-link {
    position: relative;
    display:inline;
    margin: 0px 0px 20px 0;
    left: 55px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
}
#comp-mail {
    position: relative;
    margin: 2px 0px 21px 0;
    left: 164px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
}
#comp-menu {
    position: relative;
    margin: 0px 0px 10px 0;
    left: 48px;
    grid-area: 4 / 1 / 5 / 2;
    justify-self: start;
    align-self: start;
}
#comp-para {
    position: relative;
    margin: 11px 0px 58px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}
#portfolio-content {
    position: relative;
    margin: 11px 0px 58px calc((100% - 980px) * 0.5);
    left: 400px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}
#portfolio-padding {
    position: relative;
    margin: 0px 0 30px 0;
    left: 0;
    justify-self: stretch;
    align-self: start;
}
#portfolio-padding-sub {
    position: relative;
    margin: 0px 0 15px 0;
    left: 0;
    justify-self: stretch;
    align-self: start;
}
#comp-port1 {
    position: relative;
    margin: 0px 0 29px 0;
    left: 0;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: stretch;
    align-self: start;
}
#port {
    position: relative;
    margin: 0px 0 45px 0;
    left: 0;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: stretch;
    align-self: start;
}
#comp-port3 {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 518px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
}
#comp-port4 {
    position: relative;
    margin: 0px 0px 34px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 4 / 1 / 5 / 2;
    justify-self: start;
    align-self: start;
}
#comp-port5 {
    position: relative;
    margin: 0px 0px 8px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 5 / 1 / 6 / 2;
    justify-self: start;
    align-self: start;
    text-align: center;
}
#comp-port6 {
    position: relative;
    margin: 10px 0px 8px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 6 / 1 / 7 / 2;
    justify-self: start;
    align-self: start;
    text-align: center;
}
#comp-port7 {
    position: relative;
    margin: 10px 0px 14px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 7 / 1 / 8 / 2;
    justify-self: start;
    align-self: start;
    text-align: center;
}
#comp-empl1 {
    position: relative;
    margin: 0px 0 30px 0;
    left: 0;
    grid-area: 8 / 1 / 9 / 2;
    justify-self: stretch;
    align-self: start;
}
#empl {
    position: relative;
    margin: 0px 0 46px 0;
    left: 0;
    grid-area: 9 / 1 / 10 / 2;
    justify-self: stretch;
    align-self: start;
}
#comp-empl3 {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 518px;
    grid-area: 10 / 1 / 11 / 2;
    justify-self: start;
    align-self: start;
}
#comp-empl4 {
    position: relative;
    margin: 0px 0px 33px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 11 / 1 / 12 / 2;
    justify-self: start;
    align-self: start;
}
#comp-empl5 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 12 / 1 / 13 / 2;
    justify-self: start;
    align-self: start;
}
#comp-empl6 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 13 / 1 / 14 / 2;
    justify-self: start;
    align-self: start;
}
#comp-empl7 {
    position: relative;
    margin: 0px 0px 28px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 14 / 1 / 15 / 2;
    justify-self: start;
    align-self: start;
}
#comp-empl8 {
    position: relative;
    margin: 0px 0px 8px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 15 / 1 / 16 / 2;
    justify-self: start;
    align-self: start;
}
#comp-empl9 {
    position: relative;
    margin: 0px 0px 8px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 16 / 1 / 17 / 2;
    justify-self: start;
    align-self: start;
}
#comp-empl10 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 17 / 1 / 18 / 2;
    justify-self: start;
    align-self: start;
}
#comp-educ1 {
    position: relative;
    margin: 0px 0 30px 0;
    left: 0;
    grid-area: 18 / 1 / 19 / 2;
    justify-self: stretch;
    align-self: start;
}
#educ {
    position: relative;
    margin: 0px 0 46px 0;
    left: 0;
    grid-area: 19 / 1 / 20 / 2;
    justify-self: stretch;
    align-self: start;
}
#comp-educ3 {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 518px;
    grid-area: 20 / 1 / 21 / 2;
    justify-self: start;
    align-self: start;
}
#comp-educ4 {
    position: relative;
    margin: 0px 0px 33px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 21 / 1 / 22 / 2;
    justify-self: start;
    align-self: start;
}
#comp-educ5 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 22 / 1 / 23 / 2;
    justify-self: start;
    align-self: start;
}
#comp-educ6 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 23 / 1 / 24 / 2;
    justify-self: start;
    align-self: start;
}
#comp-educ7 {
    position: relative;
    margin: 0px 0px 28px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 24 / 1 / 25 / 2;
    justify-self: start;
    align-self: start;
}
#comp-educ8 {
    position: relative;
    margin: 0px 0px 8px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 25 / 1 / 26 / 2;
    justify-self: start;
    align-self: start;
}
#comp-educ9 {
    position: relative;
    margin: 0px 0px 8px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 26 / 1 / 27 / 2;
    justify-self: start;
    align-self: start;
}
#comp-educ10 {
    position: relative;
    margin: 0px 0px 28px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 27 / 1 / 28 / 2;
    justify-self: start;
    align-self: start;
}
#comp-educ11 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 28 / 1 / 29 / 2;
    justify-self: start;
    align-self: start;
}
#comp-educ12 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 29 / 1 / 30 / 2;
    justify-self: start;
    align-self: start;
}
#comp-educ13 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 30 / 1 / 31 / 2;
    justify-self: start;
    align-self: start;
}
#comp-acad1 {
    position: relative;
    margin: 0px 0 29px 0;
    left: 0;
    grid-area: 31 / 1 / 32 / 2;
    justify-self: stretch;
    valign-self: start;
}
#acad {
    position: relative;
    margin: 0px 0 45px 0;
    left: 0;
    grid-area: 32 / 1 / 33 / 2;
    justify-self: stretch;
    align-self: start;
}
#comp-acad3 {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 518px;
    grid-area: 33 / 1 / 34 / 2;
    justify-self: start;
    align-self: start;
}
#comp-acad4 {
    position: relative;
    margin: 0px 0px 35px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 34 / 1 / 35 / 2;
    justify-self: start;
    align-self: start;
}
#comp-acad5 {
    position: relative;
    margin: 0px 0px 8px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 35 / 1 / 36 / 2;
    justify-self: start;
    align-self: start;
}
#comp-acad6 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 36 / 1 / 37 / 2;
    justify-self: start;
    align-self: start;
}
#comp-acad7 {
    position: relative;
    margin: 0px 0px 28px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 37 / 1 / 38 / 2;
    justify-self: start;
    align-self: start;
}
#comp-acad8 {
    position: relative;
    margin: 0px 0px 8px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 38 / 1 / 39 / 2;
    justify-self: start;
    align-self: start;
}
#comp-acad9 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 39 / 1 / 40 / 2;
    justify-self: start;
    align-self: start;
}
#comp-acad10 {
    position: relative;
    margin: 0px 0px 28px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 40 / 1 / 41 / 2;
    justify-self: start;
    align-self: start;
}
#comp-acad11 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 41 / 1 / 42 / 2;
    justify-self: start;
    align-self: start;
}
#comp-acad12 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 42 / 1 / 43 / 2;
    justify-self: start;
    align-self: start;
}
#comp-acad13 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 43 / 1 / 44 / 2;
    justify-self: start;
    align-self: start;
}
#comp-soft1 {
    position: relative;
    margin: 0px 0 30px 0;
    left: 0;
    grid-area: 44 / 1 / 45 / 2;
    justify-self: stretch;
    align-self: start;
}
#soft {
    position: relative;
    margin: 0px 0 46px 0;
    left: 0;
    grid-area: 45 / 1 / 46 / 2;
    justify-self: stretch;
    align-self: start;
}
#comp-soft3 {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 518px;
    grid-area: 46 / 1 / 47 / 2;
    justify-self: start;
    align-self: start;
}
#comp-soft4 {
    position: relative;
    margin: 0px 0px 34px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 47 / 1 / 48 / 2;
    justify-self: start;
    align-self: start;
}
#comp-soft5 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 48 / 1 / 49 / 2;
    justify-self: start;
    align-self: start;
}
#comp-soft6 {
    position: relative;
    margin: 0px 0px 28px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 49 / 1 / 50 / 2;
    justify-self: start;
    align-self: start;
}
#comp-soft7 {
    position: relative;
    margin: 0px 0px 8px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 50 / 1 / 51 / 2;
    justify-self: start;
    align-self: start;
}
#comp-soft8 {
    position: relative;
    margin: 0px 0px 28px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 51 / 1 / 52 / 2;
    justify-self: start;
    align-self: start;
}
#comp-soft9 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 52 / 1 / 53 / 2;
    justify-self: start;
    align-self: start;
}
#comp-soft10 {
    position: relative;
    margin: 0px 0px 28px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 53 / 1 / 54 / 2;
    justify-self: start;
    align-self: start;
}
#comp-soft11 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 54 / 1 / 55 / 2;
    justify-self: start;
    align-self: start;
}
#comp-soft12 {
    position: relative;
    margin: 0px 0px 28px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 55 / 1 / 56 / 2;
    justify-self: start;
    align-self: start;
}
#comp-soft13 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 56 / 1 / 57 / 2;
    justify-self: start;
    align-self: start;
}
#comp-soft14 {
    position: relative;
    margin: 0px 0px 28px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 57 / 1 / 58 / 2;
    justify-self: start;
    align-self: start;
}
#comp-soft15 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 58 / 1 / 59 / 2;
    justify-self: start;
    align-self: start;
}
#comp-soft16 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 59 / 1 / 60 / 2;
    justify-self: start;
    align-self: start;
}
#comp-work1 {
    position: relative;
    margin: 0px 0 29px 0;
    left: 0;
    grid-area: 60 / 1 / 61 / 2;
    justify-self: stretch;
    align-self: start;
}
#work {
    position: relative;
    margin: 0px 0 45px 0;
    left: 0;
    grid-area: 61 / 1 / 62 / 2;
    justify-self: stretch;
    align-self: start;
}
#comp-work3 {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 518px;
    grid-area: 62 / 1 / 63 / 2;
    justify-self: start;
    align-self: start;
}
#comp-work4 {
    position: relative;
    margin: 0px 0px 34px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 63 / 1 / 64 / 2;
    justify-self: start;
    align-self: start;
}
#comp-work5 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 64 / 1 / 65 / 2;
    justify-self: start;
    align-self: start;
}
#comp-work6 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 65 / 1 / 66 / 2;
    justify-self: start;
    align-self: start;
}
#comp-work7 {
    position: relative;
    margin: 0px 0px 28px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 66 / 1 / 67 / 2;
    justify-self: start;
    align-self: start;
}
#comp-work8 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 67 / 1 / 68 / 2;
    justify-self: start;
    align-self: start;
}
#comp-work9 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 68 / 1 / 69 / 2;
    justify-self: start;
    align-self: start;
}
#comp-work10 {
    position: relative;
    margin: 0px 0px 28px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 69 / 1 / 70 / 2;
    justify-self: start;
    align-self: start;
}
#comp-work11 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 70 / 1 / 71 / 2;
    justify-self: start;
    align-self: start;
}
#comp-work12 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 71 / 1 / 72 / 2;
    justify-self: start;
    align-self: start;
}
#comp-work13 {
    position: relative;
    margin: 0px 0px 9px calc((100% - 980px) * 0.5);
    margin-bottom: 106px;
    left: 550px;
    grid-area: 72 / 1 / 73 / 2;
    justify-self: start;
    align-self: start;
}
#comp-foot1 {
    position: relative;
    margin: 0px 0 8px 0;
    left: 0;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: stretch;
    align-self: start;
}
#comp-foot2 {
    position: relative;
    margin: 0px 0px 27px calc((100% - 980px) * 0.5);
    left: 550px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
}

#barker {
    position: relative;
    margin: 0px 0 0px 0;
    left: 0;
    justify-self: stretch;
    align-self: start;
}
#oman-button {
    position: relative;
    margin: 0px 0 46px 0;
    left: 0;
    justify-self: stretch;
    align-self: start;
}
#dorothy {
    position: relative;
    margin: 0px 0 46px 0;
    left: 0;
    justify-self: stretch;
    align-self: start;
}
#cap-badges {
    position: relative;
    margin: 0px 0 46px 0;
    left: 0;
    justify-self: stretch;
    align-self: start;
}
#inspector-hub {
    position: relative;
    margin: 0px 0 46px 0;
    left: 0;
    justify-self: stretch;
    align-self: start;
}
#firmin-backforces {
    position: relative;
    margin: 0px 0 46px 0;
    left: 0;
    justify-self: stretch;
    align-self: start;
}
#kettles-yard {
    position: relative;
    margin: 0px 0 46px 0;
    left: 0;
    justify-self: stretch;
    align-self: start;
}
#benson-clegg {
    position: relative;
    margin: 0px 0 46px 0;
    left: 0;
    justify-self: stretch;
    align-self: start;
}
#std-helmet {
    position: relative;
    margin: 0px 0 46px 0;
    left: 0;
    justify-self: stretch;
    align-self: start;
}
#cypher-master {
    position: relative;
    margin: 0px 0 46px 0;
    left: 0;
    justify-self: stretch;
    align-self: start;
}
#royal-engineers {
    position: relative;
    margin: 0px 0 46px 0;
    left: 0;
    justify-self: stretch;
    align-self: start;
}
#nil-mortali {
    position: relative;
    margin: 0px 0 46px 0;
    left: 0;
    justify-self: stretch;
    align-self: start;
}
#misc {
    position: relative;
    margin: 0px 0 46px 0;
    left: 0;
    justify-self: stretch;
    align-self: start;
}

.latex, .latex sub {
    font-size: 1em;
}
.latex sub {
    vertical-align: -0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
}
.latex sup {
    font-size: 0.85em;
    vertical-align: -0.3em;
    margin-left: -0.36em;
    margin-right: -0.15em;
}
.latex sub, .latex sup {
    text-transform: uppercase;
}

.portfolio-label {
    font: normal normal normal 26px/1.4em 'CMUSerifRoman', times, serif;
    color: #000000;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
}
.portfolio-label:hover {
    color: #185096;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.portfolio-subheading {
    font: normal normal normal 17px/1.4em 'CMUSerifRoman', times, serif;
    color: #000000;
    font-variant: small-caps;
    margin: 0 4px 0 0;
    float: right;
}

.jump-to {
    position: fixed;
    width:420px;
    top: 160px;
    right: 54px;
    z-index:100;
    text-align: right;
}
.jump-to-header {
    font: italic normal normal 16px/1.4em 'CMUSerifRoman', times, serif;
    color: #185096;
}
.jump-to-label {
    font: normal normal normal 18px/1.4em 'CMUSerifRoman', times, serif;
    color: #000000;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
.jump-to-label:hover {
    color: #185096;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.flex-child {
  flex-grow: 1;
}
.outer {
  display: flex;
}